* { 
    padding: 0; 
    margin: 0; 
} 
 
body, html { 
    color:#000;
    background-color: #fff;
    font-family: "Jura", sans-serif; 
    font-size: 24px; 
} 

.dark-mode {
    color: #fff;
    background-color: #2f2f2f;
}
 
.container { 
    max-width: 1220px;
    margin: 0 auto;
} 

a {
    text-decoration: none;
    outline: none;
    color: #000;
}

.title { 
    font-size: 40px; 
    font-weight: 300; 
    margin-bottom: 40px;
    text-align: center;
} 

.header {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
 
.header-title { 
    font-size: 64px; 
    font-weight: 300; 
    margin-bottom: 40px;
} 
 
.header-span { 
    color: #AAB09A; 
} 
 
.button { 
    width: 300px; 
    height: 50px; 
    background-color: #AAB09A; 
    border-radius: 25px; 
    border: none; 
    font-size: 28px; 
    font-family: "Jura", sans-serif; 
} 

.button:hover {
    border: 1px #AAB09A solid;
    background-color: transparent;
    transition: 0.6s ease;
}
 
.header-arrow { 
    width: 70px; 
} 
 
.button-black-white { 
    border-radius: 50px; 
    width: 40px; 
    height: 40px; 
    border: black solid 1px; 
    background-color: transparent; 
    position: absolute; 
    top: 30px; 
    right: 30px; 
}

.item {
    border: 1px black solid;
    padding: 30px;
    border-radius: 25px;
    border: none;
}

.about-me {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 0,5fr 4fr 4fr;
    margin-bottom: 60px;
}

.photo-me {
    width: 300px;
}

.text-about-me {
    background-color: #D9D9D9;
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.button-about-me {
    background-color: #AAB09A;
    margin: 0;
}

.develop {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.design {
    background-color: #AAB09A;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.experience {
    grid-column-start: 1;
    grid-column-end: 2;
}

.text-experience {
    background-color: #AAB09A;
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.text-education {
    background-color: #AAB09A;
}

.education-place {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.portfolio {
    display: flex;
    gap: 10px;
    margin-bottom: 60px;
}

.portfolio a:hover {
    color: #AAB09A;
    text-decoration:underline;
}

.block {
    border-radius: 25px;
    height: 320px;
    margin-bottom: 10px;
    position: relative;
}

.portfolio-image {
    width: 600px;
    height: 320px;
    border-radius: 25px;
    transition: 2s;
}

.block:hover .portfolio-image{
    transform: scale(1.1);
    filter: blur(4px);
}

.portfolio-text {
    opacity: 0;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size: 40px;
    position: absolute; 
}

.block:hover .portfolio-text {
    opacity: 1;
    transition: 2s;
}

.block {
    overflow: hidden;
}

.contact-with-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.my-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.my-contacts-image {
    width: 42px;
    height: 40px;
}

.my-contacts-images {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer {
    height: 50px;
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
}
